<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<H2>Student</H2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eos, ullam? Ab delectus dolorem dolores
    explicabo, facilis, fuga iure magni maxime nesciunt non porro quasi sed, similique sint tenetur ut?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus minima, provident! At blanditiis cum distinctio
    expedita facilis, fuga fugit illum laborum maiores nesciunt non placeat quae quia quod sed voluptas.</p>
</body>
</html>